.projectsMenu
  display: flex
  justify-content: space-between

.project
  span
    font-family: Inter, sans-serif
    font-size: 24px
    font-style: normal
    font-weight: 900
  p
    font-family: 'JetBrains Mono', monospace
    font-size: 16px
    font-weight: 800
  img
    width: 30vw

.title
  margin-bottom: 30px

.ProjectTitle
  display: flex
  flex-direction: column
  margin-right: 30px

.projectsTitles
  display: flex
  margin-bottom: 20px
  margin-top: 50px
  span
    color: gray

.ProjectDes
  margin-bottom: 30px

.projectsSkills
  display: flex
  margin-bottom: 20px

.projectImg
  margin-bottom: 20px
  img
    margin-right: 20px

.projectAttr
  color: gray
  margin-bottom: 5px

.projectsSkill
  padding: 7px 20px
  margin-right: 5px
  border-radius: 25px
  border: 1px solid black

.ProjectLinks
  display: flex
  margin-bottom: 50px

.ProjectLink
  transition: .2s
  text-decoration: underline
  margin-right: 5px
  &:hover
    transition: .2s
    color: grey